go_server/dispatch/dispatch
go_server/dispatch/*.exe
/app/.vs
out

CMakeSettings.json
CMakeLists.txt.user
.vscode
app/car/main
app/windows_install/RemoteDrive*
app/linux_install/*.tar
app/linux_install/*.gz
app/linux_install/download
app/linux_install/remote_drive_car
/third_party/boost*
build-app-Desktop_Qt_6_*_64bit-*
/third_party/LogitechSteeringWheelSDK_8.75.30/Samples/*/.vs
/third_party/LogitechSteeringWheelSDK_8.75.30/Samples/*/Debug
/third_party/LogitechSteeringWheelSDK_8.75.30/Samples/*/Release
/third_party/LogitechSteeringWheelSDK_8.75.30/Samples/*/*.aps
/go_server/car_bridge/*.exe
/go_server/car_bridge/car_bridge
/app/driver/res/*.aps
/app/windows_install/setup.iss.bak